In [1]:
import pandas as pd
import mysql.connector

In [3]:
db = mysql.connector.connect(host ='47.91.124.29',
									user = 'msweb_prd_mazhar',
									password = 'P)O(n@7830',
									db ="user_details")
print("Connected to database successfully")

Connected to database successfully

In [4]:
x = 'user_details'
y='user_details'
df = pd.read_sql_query(f" SELECT * FROM {x}.{y} ", db)

C:\Users\Mazhar\AppData\Local\Temp\ipykernel_12812\2535612597.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(" SELECT * FROM user_details.user_details ", db)

In [5]:
df.columns

Index(['id', 'user_name', 'aces_id', 'fname', 'lname', 'email', 'phone', 'dob',
       'passport', 'crt_ts', 'chg_ts', 'crt_by', 'chg_by', 'deleted',
       'citizenship', 'iqama_number', 'iqama_expiry', 'whatsapp', 'department',
       'skill', 'shift', 'reporting_to', 'company', 'site_id', 'gender',
       'region', 'code_id', 'field_mobile', 'section', 'reporting_manager',
       'punch_in', 'punch_out', 'job_title'],
      dtype='object')

In [6]:
df.head()

,id,user_name,aces_id,fname,lname,email,phone,dob,passport,crt_ts,...,site_id,gender,region,code_id,field_mobile,section,reporting_manager,punch_in,punch_out,job_title
0,52,psurya,psurya,Surya VaraPrasad,,suryawork574@gmail.com,919562044588,2000-01-01,,2022-12-07 11:07:32,...,,M,CR,RM#2,9562044588,EM,rajeshp,None,None,Region Manger
1,53,rajeshp,rajeshp,Rajesh Puvvala,,rajesh.p@aces-co.com,919886234018,2000-01-01,,2022-12-07 11:19:26,...,,M,CR,RM#3,9886234018,EM,jeelanib,None,None,Region Manger
2,54,jeelanib,jeelanib,Jeelani Basha,,jeelani.basha@aces-co.com,919448387107,2000-01-01,,2022-12-07 11:30:33,...,,M,CR,PM#5,919448387107,EM,mazher_mnm,None,None,Project Manger
3,55,kiranp,kiranp,kiran Puvvala,,geturkiran.p@gmail.com,8095687577,2000-01-01,,2022-12-07 11:33:17,...,,M,INDIA,None,None,None,jeelanib,None,None,Region Manger
4,56,ramk,ramk,Rami Reddy Kodanda,,vkrreddy2@gmail.com,9591841706,2000-01-01,,2022-12-07 12:07:04,...,,M,CR,RM#5,9591841706,EM,jeelanib,None,None,Region Manger

In [7]:
df.shape

(226, 33)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 226 non-null    int64
 1   user_name          226 non-null    object
 2   aces_id            226 non-null    object
 3   fname              226 non-null    object
 4   lname              9 non-null      object
 5   email              226 non-null    object
 6   phone              226 non-null    object
 7   dob                226 non-null    object
 8   passport           17 non-null     object
 9   crt_ts             226 non-null    datetime64[ns]
 10  chg_ts             226 non-null    datetime64[ns]
 11  crt_by             9 non-null      object
 12  chg_by             9 non-null      object
 13  deleted            226 non-null    int64
 14  citizenship        17 non-null     object
 15  iqama_number       226 non-null    object
 16  iqama_expiry       19 non-null     object
 17  whatsapp           226 non-null    object
 18  department         226 non-null    object
 19  skill              17 non-null     object
 20  shift              17 non-null     object
 21  reporting_to       17 non-null     object
 22  company            17 non-null     object
 23  site_id            17 non-null     object
 24  gender             226 non-null    object
 25  region             226 non-null    object
 26  code_id            219 non-null    object
 27  field_mobile       219 non-null    object
 28  section            219 non-null    object
 29  reporting_manager  222 non-null    object
 30  punch_in           209 non-null    object
 31  punch_out          209 non-null    object
 32  job_title          226 non-null    object
dtypes: datetime64[ns](2), int64(2), object(29)
memory usage: 58.4+ KB

In [11]:
df[df['deleted']==0]

,id,user_name,aces_id,fname,lname,email,phone,dob,passport,crt_ts,...,site_id,gender,region,code_id,field_mobile,section,reporting_manager,punch_in,punch_out,job_title
0,52,psurya,psurya,Surya VaraPrasad,,suryawork574@gmail.com,919562044588,2000-01-01,,2022-12-07 11:07:32,...,,M,CR,RM#2,9562044588,EM,rajeshp,None,None,Region Manger
1,53,rajeshp,rajeshp,Rajesh Puvvala,,rajesh.p@aces-co.com,919886234018,2000-01-01,,2022-12-07 11:19:26,...,,M,CR,RM#3,9886234018,EM,jeelanib,None,None,Region Manger
2,54,jeelanib,jeelanib,Jeelani Basha,,jeelani.basha@aces-co.com,919448387107,2000-01-01,,2022-12-07 11:30:33,...,,M,CR,PM#5,919448387107,EM,mazher_mnm,None,None,Project Manger
3,55,kiranp,kiranp,kiran Puvvala,,geturkiran.p@gmail.com,8095687577,2000-01-01,,2022-12-07 11:33:17,...,,M,INDIA,None,None,None,jeelanib,None,None,Region Manger
4,56,ramk,ramk,Rami Reddy Kodanda,,vkrreddy2@gmail.com,9591841706,2000-01-01,,2022-12-07 12:07:04,...,,M,CR,RM#5,9591841706,EM,jeelanib,None,None,Region Manger
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,314,maamoun.mohamed,maamoun.mohamed,Maamoun Mohamed,None,Mamoon.Mohammed@aces-co.com,966548802036,2000-01-01,None,2023-07-03 16:40:19,...,None,M,CR,RM#29,966548802036,DCO,hussam,,,Region Manger
222,316,0099,0099,Alaa fin2,None,alaa@aces-co.com,00000000000,2000-01-01,None,2023-07-17 10:24:07,...,None,M,Riyadh,F2#36,00000000000,Personal Department,,,,Finance Two
223,317,f.alroubi,f.alroubi,Fares Riyadh Dawod Alroby,None,faris.alroubi@aces-co.com,966500502117,2000-01-01,None,2023-07-19 15:23:25,...,None,M,WR,TECH#130,966500502117,Mobily DC,m.abdelhady,,,Technician
224,318,test_admin,test_admin,Test Admin,None,mohdmazhar9299@gmail.com,917386949251,2000-01-01,None,2023-07-28 12:00:08,...,None,M,CR,OD#7,917386949251,Mobily DC,hussam,,,Operation Director
225,319,test_pm,test_pm,Test User,None,dataofaces@gmail.com,917386949251,2000-01-01,None,2023-07-28 12:04:43,...,None,M,CR,PM#8,917386949251,Mobily DC,test_admin,,,Project Manger

In [12]:
df[df['deleted']==1]

,id,user_name,aces_id,fname,lname,email,phone,dob,passport,crt_ts,...,site_id,gender,region,code_id,field_mobile,section,reporting_manager,punch_in,punch_out,job_title
78,168,mohammed.sameer,mohammed.sameer,Mohammed Sameer,None,mohammed.sameer@aces-co.com,15513886106,2000-01-01,None,2023-02-05 13:45:25,...,None,M,NR,SE#1,15513886106,EM,arifsohel,,,Site Engineer
88,182,m.shereshre,m.shereshre,Mohamed Hamed Ahmed Shereshre,None,m.shereshre@mobily.com.sa,966547144017,2000-01-01,None,2023-04-06 02:34:30,...,None,M,WR,SOM#2,966547144017,DCO,m.abdelhady,,,Site Operations Manager
95,189,alaminmalaminm1,alaminmalaminm1,ALAMIN MOHAMMAD ZARU MIAH,None,alaminmalaminm1@gmail.com,966502783397,2000-01-01,None,2023-04-06 03:08:35,...,None,M,WR,TECH#45,966502783397,DCO,a.elbakri,,,Technician
98,192,m.alghamdi026,m.alghamdi026,Mohamed Masfer Alghamdy,None,m.alghamdi026@mobily.com.sa,966502412518,2000-01-01,None,2023-04-06 04:22:48,...,None,M,WR,SE#8,966502412518,DCO,w.ibrahim,,,Site Engineer
103,197,sobhanabdus673,sobhanabdus673,ABDUSÂ Â SOBHAN,None,sobhanabdus673@gmail.com,966573442199,2000-01-01,None,2023-04-06 04:32:03,...,None,M,WR,TECH#51,966573442199,DCO,w.ibrahim,,,Technician
104,198,salouddinkhan127,salouddinkhan127,SALA UDDIN BELLAL HOSSAIN,None,salouddinkhan127@gmail.com,966557562067,2000-01-01,None,2023-04-06 04:33:07,...,None,M,WR,TECH#52,966557562067,DCO,w.ibrahim,,,Technician
116,210,asayyed,asayyed,Sayyed Aftab,None,asayyed@mobily.com.sa,966541663029,2000-01-01,None,2023-04-06 08:18:13,...,None,M,ER,SE#14,966541663029,DCO,a.ahmedalsanan,,,Site Engineer
118,212,mohd.umar,mohd.umar,Mohd Umar,None,mohd.umar255@gmail.com,966560235214,2000-01-01,None,2023-04-06 08:22:35,...,None,M,ER,TECH#57,966560235214,DCO,a.ahmedalsanan,,,Technician
174,268,rakan.alshmmri,rakan.alshmmri,RAKAN Alshmmri,None,rakan.alshmmri@aces-co.com,966540535261,2000-01-01,None,2023-04-06 09:39:05,...,None,M,ER,SOM#7,966540535261,DCO,-,,,Site Operations Manager
202,296,acesfin1,acesfin1,aces finance1,None,rajesh.p@aces-co.com,919886234018,2000-01-01,None,2023-04-08 18:11:47,...,None,M,NR,TECH#128,919886234018,DCO,mazharuddin,Off-Site,Off-Site,Technician
203,297,acesfin2,acesfin2,aces finance2,None,jeelani.basha@aces-co.com,919448387107,2000-01-01,None,2023-04-08 18:15:31,...,None,M,NR,TECH#129,919448387107,EM,,Off-Site,Off-Site,Technician
204,298,test_safi,test_safi,test_safi,None,creamstone132@gmail.com,918367462446,2000-01-01,None,2023-04-09 11:43:55,...,None,M,CR,TECH#125,918367462446,EM,arifsohel,,,Technician
205,299,test_yaser,test_yaser,test_yaser,None,yaseer.sattar@gmail.com,966545036904,2000-01-01,None,2023-04-09 11:47:24,...,None,M,CR,SUP#21,966545036904,EM,arifsohel,,,Supervisor
210,304,sohel,sohel,Sohil Mejbaha,None,abcd@gmail.com,966561335144,2000-01-01,None,2023-04-17 09:09:23,...,None,M,WR,SE#29,966561335144,DCO,m.abdelhady,,,Site Engineer
221,315,9999,9999,delete,None,delte@d.com,00000000000,2000-01-01,None,2023-07-06 13:23:00,...,None,M,WR,SUP#27,00000000000,EM,91,,,Supervisor

In [13]:
df['department'].unique()

array(['Mobily MNS', 'EM', 'TECH', 'Management', 'Mgmt', '', 'Finance',
       'Security', 'Personal Department', 'MS'], dtype=object)

In [17]:
df['department'].unique().__len__()

10

In [18]:
df['department'].value_counts()

Mobily MNS             207
EM                       5
TECH                     4
MS                       3
Mgmt                     2
Management               1
                         1
Finance                  1
Security                 1
Personal Department      1
Name: department, dtype: int64

In [19]:
df['department'].isna().sum()

0

In [ ]:
df['region']